.cardlar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 912px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;

  img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .product-info {
    text-align: center;

    h3 {
      font-size: 15px;
      font-weight: 600;
      color: #222;
      margin-bottom: 6px;
    }

    p {
      font-size: 13px;
      color: #666;
      margin-bottom: 8px;
    }

    .price {
      font-size: 16px;
      font-weight: 700;
      color: #ffffff;
      border: none;
      height: 40px;
      padding-top: 6px;
      background: #7000ff;
      border-radius: 10px;
      width: 100%; // tugma kartani eni bo‘yicha
      max-width: 120px; // juda cho‘zilib ketmasin
      margin: 0 auto;
    }
  }
}
